<div class="container">
  <div class="about-container">
    <h1 class="about-title">Acerca de Nosotros</h1>
    <p class="about-description">
      Bienvenido a nuestra plataforma. Aquí utilizamos tecnología avanzada de aprendizaje automático para ayudarte a
      predecir y analizar defectos en software, ofreciendo herramientas que impulsan la calidad y eficiencia de tus
      proyectos.
    </p>
    <div class="about-features-logo">
      <ul class="about-features">
        <li>Predicción precisa de defectos de software.</li>
        <li>Generación de explicaciones detalladas y comprensibles.</li>
        <li>Interfaz intuitiva y fácil de usar.</li>
        <li>Optimización y retroalimentación basada en datos.</li>
        <li>Compromiso con la innovación tecnológica.</li>
      </ul>
      <img class="about-logo" src="../../../assets/images/ups.png" alt="">
    </div>
  </div>
  <div class="about__technologies">
    <h2>Tecnologias usadas</h2>
    <div class="technologies">
      <div class="technologies__used">
        <h3>Frontend</h3>
        <div class="technologies__used__logo">
          <img src="../../../assets/images/angular.png" alt="">
          <img src="../../../assets/images/html.png" alt="">
          <img src="../../../assets/images/css.png" alt="">
        </div>
      </div>
      <div class="technologies__used">
        <h3>Backend</h3>
        <div class="technologies__used__logo">
          <img src="../../../assets/images/ts.png" alt="">
        </div>
      </div>
      <div class="technologies__used">
        <h3>API</h3>
        <div class="technologies__used__logo">
          <img id="chatgptapi" src="../../../assets/images/chatgptapi.png" alt="">
          <img src="../../../assets/images/dj.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>